<form method="post" enctype="multipart/form-data">
    <div>
        <label>Excell Import</label>
        <input type="file" name="f" accept="application/vnd.openxmlformats-officedocument.speradshaeetml.sheet" />
    </div>
    <div>
        <button>Import</button>
    </div>
</form>
